.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }

.h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

.button {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

.code {
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
  }
