.bannerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* We want our button to the right of our paragraph element */
  /* We can use flexbox to achieve this */
  margin: 0 28rem;
}

.banner {
  background-color: #5865F2;
  color: white;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  padding: .5rem 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0; /* Set a lower z-index than the NavBar to ensure it appears behind it */
  font-size: larger;
}

@media screen and (max-width: 600px) {
  .bannerContainer {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .bannerContainer {
    margin: 0 10px;
  }
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #fff;
  color: #5865F2;
}

.buttonIcon {
  margin-left: 0.3rem;
  font-size: 1rem;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.discordIcon {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}
