/* Features.module.css */

.features {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.featuresWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .featuresWrapper {
    flex-direction: column;
    align-items: center;
  }
}
