.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: #F9FAFB;
  width: 100%;
  height: 70vh;
}

@media (max-width: 768px) {
  .hero {
    padding: 2rem;
  }
}

.logo {
  width: 100px;
  margin-bottom: 2rem;
  background-color: #1c2331;
  border-radius: 50%;
}

.description {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
  color: #222;
}

@media (max-width: 768px) {
  .description {
    font-size: 1.5rem;
    width: 100%;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    width: 90%;
  }

  .button,
  .downloadButton {
    margin: .5rem 0;
    text-align: center;
  }
}

.button {
  background-color: #1C2331;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.downloadButton {
  background-color: #1C2331;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.downloadButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
  margin-left: 0.5rem;
}

.brandName {
  font-weight: 800;
  font-size: larger;
  background: linear-gradient(135deg, #4f5b6d, #1c2331, #ff7f50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
}

.brandName:hover {
  background-position: 100% 50%;
}
