.login-link {
    color: #f3f3f3;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: normal;
    font-size: 1.2rem;
    font-size: small;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
