.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 40rem;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    }

    .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    }
